<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Publicação</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-form.css">
</head>

<body>
    <div class="form-container">
        <div class="block">
        <form method="POST" action="/noticias" enctype="multipart/form-data" id="form">
            <label for="" class="titulo-h2 fonte">Publicação</label>
          <label for="titulo" class="fonte">Título<span class="obrigatorio">*</span>:</label>
          <input type="text" name="titulo" id="titulo" class="titulo" required>
      
          <label for="texto" class="fonte">Texto<span class="obrigatorio">*</span>:</label>
          <textarea name="texto" id="texto" class="texto" required></textarea>
      
          <label for="imagem" class="fonte">Imagem:</label>
          <input type="file" name="imagem" id="imagem" class="imagem" accept=".jpg,.jpeg,.png">
          <div id="add"></div>
            <button class="add-campo">+</button>
        
          <button type="submit" class="publicar">Publicar</button>
        </form>
    </div>
    </div>
    <script src="/script.js"></script>

</body>
  